.work--medium .container--medium {
	margin-bottom: 150px;
	padding-top: 91px;
	padding-bottom: 107px;
	background: #2c343e;
	border-radius: 10px;
}

.work--medium .container--small {
	margin-bottom: 0;
}

.work--medium .work_list {
	margin-bottom: 0;
}

.work_item_headding--white {
	color: #fefcf7;
}

.work_item_desc--white {
	color: #fefcf7;
}
